body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

header{
    background-color: #35424a;
    color: #ffffff;
    padding: 10px 20px;
    text-align: left;
    font-size: 8px;
    display: flex;
    gap: 15px;
}

header img{
    width: 30px;
    height: 30px;
}


#overview h1 {
    text-align: center;
}

.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

#username, #password {
    margin-bottom: 15px;
    width: 110%;
    height: 30px;
    border-radius: 5px;
    border: #35424a;
}

input {
    padding-left: 15px;
}

#login-button {
    text-align: center;
}

#login-button button {
    width: 120%;
    padding: 10px;
    background-color: #1746c7;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#login-button button:hover {
    background-color: rgb(92, 19, 236);
}

footer {
    text-align: center;
}

footer p {
    font-size: 12px;
    color: #777;
}